<main>
  <div class="custom-container-fluid">
    <div class="row">
      <div class="col-xl-6">
        <h4 class="room-admin">Room</h4>
        <form class="d-grid gap-2">
          <input type="text" placeholder="Room name" class="form-control">
          <textarea [(ngModel)]="roomDescription" class="textarea-description form-control" placeholder="Description"></textarea>
          <input type="number" placeholder="Capacity" class="form-control">
          <input type="text" placeholder="Subject (example: Greek Mythology)" class="form-control">
          <input type="text" placeholder="Style (example: Sculpture)" class="form-control">
          <p>Room photo:</p>
          <input id="roomphoto" type="file" class="form-control">
          <p>Room music/bg sound:</p>
          <input id="roommusic" type="file" class="form-control">
          <p>Room voice over:</p>
          <input id="roomvoice" type="file" class="form-control">
          <button class="main-btn" (click)="submitRoom()">Submit</button>
        </form>
      </div>

      <div class="mt-5 col-xl-1 d-flex justify-content-center align-items-center">
        <div style="border-left: 1px solid #000; height: 100%;"></div>
      </div>


      <div class="col-xl-5">
        <h4 class="room-admin">Painting</h4>
        <form class="d-grid gap-2">
          <input type="text" placeholder="Painting name" class="form-control">
          <div class="format-buttons">
            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="formatText('bold')">Bold</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="formatText('header')">Larger</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="formatText('list')">Bullet List</button>
          </div>
          <textarea [(ngModel)]="paintingDescription" name="paintingDescription" class="textarea-description form-control" placeholder="Description"></textarea>
          <input type="text" placeholder="Room it belongs to" class="form-control">
          <p>Painting photo:</p>
          <input id="paintingphoto" type="file" class="form-control">
          <button class="main-btn" (click)="submitPainting()">Submit</button>
        </form>
        <div *ngIf="paintingDescription">
          <h5>Preview:</h5>
          <markdown [data]="paintingDescription"></markdown>
        </div>
      </div>
    </div>
  </div>
</main>
