.navbar-background {
  background-color: #EEEAE4;
}

.adjusted-height {
  height: 5rem;
}

.profile-icon {
  font-size: 1.5rem;
  vertical-align: middle;
  margin-bottom: -2rem;
  display: flex;
  color: #0b1117;
}

.profile-icon:hover {
  font-size: 1.5rem;
  vertical-align: middle;
  margin-bottom: -2rem;
  display: grid;
  color: #8ED9E9;
}

nav {
  font-family: Roboto, sans-serif;
}

.navbar-nav .nav-item .nav-link {
  color: #0b1117;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #8ED9E9; /* Hover color */
  border-radius: 5px;
}

.navbar-nav .nav-item .active-link {
  font-weight: bold;
  color: #8ED9E9;
  border-bottom: 3px solid #8ED9E9;
}

.active-link2 {
  color: black;
}

