<main class="main">
  <div class="py-5 container-fluid custom-container-fluid">
    <div class="row">
      <div class="col-md-3 account">
        <h5 class="text-center">Account</h5>
        <div class="account__profile-picture">
          <input type="file" id="profilePicture" (change)="onFileChange($event)" accept="image/*" hidden>
          <label for="profilePicture" class="profile-upload-label">
            <img class="profilepictureimage" [src]="profileImageUrl || 'assets/Ancient_greek_men.webp'" alt="Profile Picture">
            <div class="overlay">
              <span>Change Picture</span>
            </div>
          </label>
        </div>
        <div class="account__info">
          <p class="account__username">&#64;{{ username }}</p>
          <p>{{ email }}</p>
        </div>
      </div>
      <div class="col-md-6 collection">
        <h5 class="text-center">Collection</h5>
        <p>snadfjasn</p>
      </div>
      <div class="col-md-3 activity">
        <h5 class="text-center">Activity</h5>
        <p>snadfjasn</p>
      </div>
    </div>
  </div>
</main>
