<footer class="text-center text-md-start footer-background">
  <!-- Grid container -->
  <div class="container-fluid custom-container-fluid p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <img class="logo" src="assets/Teunsmuseum-logo.png" alt="Virtueel Museum Logo">

        <p class="mt-2">
          Welcome to the Virtual Museum, an innovative digital space where art and culture converge.
          Our museum offers an immersive experience, showcasing a diverse range of paintings
          from different eras and styles. Explore meticulously curated display rooms, each
          designed to transport you into the heart of the art world. Learn about the history
          and significance of each artwork through detailed descriptions and interactive features. Engage with the community by leaving comments and likes on your favorite pieces. The Virtual Museum is not just a place to view art, but a vibrant community where creativity and inspiration flourish.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Navigation</h5>

        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/rooms">Rooms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/paintings">Paintings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>

        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Teuns portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/rooms">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/paintings">Terms and conditions</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 footer-background-2">
    © 2027 Copyright:
    <a class="text-body" href="https://teunhilbers.nl/">Teun Hilbers</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
